{{ $background_header := resources.Get "img/back-header.jpg" }}
<header style="background-image: url('{{ $background_header.Permalink }}');">
    <h1>{{ .Site.Title }}</h1>
    <nav>
        <a href="{{ .Site.BaseURL }}">Home</a>
        <a href="{{ .Site.BaseURL }}category/">Game categories</a>
        <a href="{{ .Site.BaseURL }}players/">Player count</a>
        <a href="{{ .Site.BaseURL }}time/">Playing time</a>
        <a href="{{ .Site.BaseURL }}interaction/">Interactions</a>
		<a href="{{ .Site.BaseURL }}universe/">Universe</a>
    </nav>
</header>
